@charset "UTF-8";

// chrome滚动条
body::-webkit-scrollbar-track-piece{ background-color:#e5e5e5; -webkit-border-radius:4px; }
body::-webkit-scrollbar{ width: 8px; /*height: 12px;*/ }
body::-webkit-scrollbar-thumb{ width: 8px; /*height:50px;*/ background-color:#999; -webkit-border-radius:4px; /*outline:2px solid #e8e8e8; outline-offset:-2px; border: 2px solid #e8e8e8;*/}
body::-webkit-scrollbar-thumb:hover{ height:50px; background-color:#9f9f9f; -webkit-border-radius:4px; }
body { overflow-x: hidden;}

// 左侧导航
.navBox { width: 135px; padding: 150px 10px 0 50px; position: fixed; top: 0; left: 0; bottom: 0; background-color: $blackBg;
	.birdBox { padding-top: 40px;}
	.navBox_logo { display: block; width: 100px; height: 100px; position: relative;
		img { width: 100%; height: 100%; display: block; border-radius: 50%; transition: box-shadow .5s linear;}
		h1 { position: absolute; right: -30px; top: -45px; line-height: 40px; color: $blue; opacity: 0; transform: rotate(0deg);}
		&:hover {
			img { box-shadow: 0 0 50px $blue;}
			h1 { opacity: 1; transform: rotate(30deg); transform-origin: 0% 20%; transition: opacity .5s linear .3s, transform .1s ease 1.2s;}
		}
	}

	ul { padding: 60px 40px 0 5px;
		li { line-height: 35px; text-align: center;
			&.cur a { color: $blue;}
		}
		a { color: #777; font-size: 16px; font-weight: 500;}
		a:hover { color: $blue;}
	}
	//.birdBox { padding-top: 40px;}
}

.mainBox { margin: 0 0 0 205px;}
.listBox {}



// ribbon
.ribbon { position: absolute; top: 42px; width: 200px; padding: 1px 0; background: #000; color: #eee; box-shadow: 0 0 10px rgba(0,0,0,0.5);
	&.left{ left: -42px; -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
	&.right{ right: -42px; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
	a,a:visited,a:active,a:hover { display: block; padding: 1px 0; height: 24px; line-height: 24px; color: inherit; text-align: center; text-decoration: none; font-family: 'Cabin Condensed', sans-serif; font-size: 16px; font-weight: 500; border: 1px solid rgba(255,255,255,0.3); -moz-text-shadow: 0 0 10px rgba(0,0,0,0.31); -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.31); text-shadow: 0 0 10px rgba(0,0,0,0.31); }
	&.black { background: #121621; }
	&.red { background: #c00;}
	&.blue { background: #41B1F5; }
	&.green { background: #0a0; }
	&.orange { background: #d80; }
	&.purple { background: #c0c; }
	&.grey { background: #888; }
	&.white { background: #eee; color: black;
		a{ border: 2px dotted rgba(100,100,100,0.2); }
	}
}

// --- bird
$birdR : 100px;
.bird{ position: relative; width:$birdR; height:$birdR; cursor:pointer;
	.big{ position:absolute; top:0; left:0; border-radius:50%; border-color:transparent transparent #d72928 #db3e3d; border-width:$birdR/2; border-style:solid; transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s; }
	.middle{ position:absolute; top:10%; left:10%; border-radius:50%; border-color:#f8d245 transparent #f2f2f2 #fff; border-style:solid; border-width:$birdR/2.5; transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s; }
	.small{ position:absolute; top:30%; left:30%; border-radius:50%; border-color:transparent #f7a703 transparent transparent; border-style:solid; border-width:$birdR/5; transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s;
		&:before{ content:""; background:#000; width:$birdR/10; height:$birdR/10; border-radius:50%; position:absolute; top:-$birdR/20; right:$birdR/10; }
	}
	&:hover {
		.big{ transform:rotate(225deg); -webkit-transform:rotate(225deg); -moz-transform:rotate(225deg); border-color:transparent transparent #1fe8b6 #16d7a7;}
		.middle{ transform:rotate(-135deg); -webkit-transform:rotate(-135deg); -moz-transform:rotate(-135deg); border-color:transparent #f8d245 #fff #f2f2f2;}
		.small{ transform:rotate(135deg); -webkit-transform:rotate(135deg); -moz-transform:rotate(135deg); border-color:transparent #f7a703 transparent transparent;}
	}
}

// --- about
h2 { font-size: 30px; line-height: 1.5; color: $blueDark;}

// media
@media screen and (max-width:960px){}
@media screen and (max-width:600px){}
@media screen and (max-width:420px){}